*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{

    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbar-s1__titel{
    color: blueviolet;
}
.navbar-s2{

    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
    z-index: 1;
    
}

.navbar-s2 input{
    border: none;
    width: 100%;
    background-color: transparent;
}
.navbar-s2 input{

outline: none;
}
.navbar-s3{
    display: flex;
    gap: 10px;
}
.MyLearning{
    position: relative;
    cursor: pointer;

}
.MyLearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
display: none;



}
.MyLearning:hover .MyLearning__popup{
    display: block;
}
.categories{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    border-bottom: solid black 1px;
}
.categories p{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.recommender__container{
    display:flex;
    flex-wrap: wrap;
justify-content: space-between;
margin: 10px;
}
.sale-image{
    position: relative;
}

.sale-image img{
    width: 100%;
}
.sale-image__offer{
    width: 35%;
    border: solid black;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 10%;
}
.Coures-card{
    width: 250px;
}
.Coures-card img{
    height: 50%;
    width: 100%;
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
gap: 10px;
margin-top: 10px;
flex-wrap: wrap;
}
.topics__container p{
padding: 10px;
border:solid gray;
flex-grow: 1;
flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}
.fotter{
    background-color: black;
    color: aliceblue;
    padding: 10px;
}
.fotter_one{
    display: flex;
    gap: 10px;
}
.fotter_one p{
    margin: 20px;
}
.fotter_two{
    display: flex;
    justify-content: space-between;
}